*{
  font-family:"Work Sans", sans-serif;
}
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;

}
.bg-light{
  background-color: rgba(255, 144, 14, 0.1);
}
.display-flex{
  display: flex;
}
.navbar{
  justify-content: space-between;
  align-items: center;
  
  
}

main{
 margin-top: 130px;
}
.brand{
  font-weight: 700;
  font-size: 2.8rem;
}
.nav-link{
  text-decoration: none;
  color: #424242;
  
}

.nav-item{
  list-style: none;
  margin-right: 30px;
  
}
.nav-item :hover{
  color: blue;
}
.btn-primary :hover{
 background-color: blue;
}
.navbar, .banner, .teams, .facts, .our-sponsors, .footer{
  max-width: 1440px;
  margin: 0 auto;
}
.banner-content{
  max-width: 850px;
  margin: 0 auto;
  text-align: center;

}
.banner-title{
  font-weight: 700;
  font-size: 4rem;
}
.banner-script{
 line-height: 24px; 
}
.btn-primary{
  background-color: #FF900E;
  color:white;
  padding: 20px 25px;
  font-size: 1.25rem;
  font-weight: 600;
  border: none;
  border-radius: 8px;
  margin-bottom: 50px;

}

.banner-img{
  width: 100%;

  
}
@media screen and (max-width:576px){
  .navbar, .navlinks, .teams, .facts, .our-sponsors, .features {
    flex-direction: column;
  }
  .team-img-container{
    grid-template-columns: 1fr !important;
  }
  .teams-content{
    margin-right: 100px;
  }
  .sponsors-list{
    grid-template-columns: 1fr !important;
    margin-bottom: 10px;

    justify-items: center;
    
  }
  .facts-cards-container{
    grid-template-columns: 1fr !important;
    justify-items: center;
  }
  .featured-architect img{
    width: 100%;
    margin-left: -125px;
    margin-bottom: 150px;
  }
  #experience-badge{
   margin-right: 30px;
  }
  



}

@media screen and (min-width: 576px) and (max-width: 992px){
  .teams{
    flex-direction: column;
  }
  .teams-content{
    margin: 20px auto;
  }
}
.teams{
  align-items: center;
}
.team-img-container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;

}
.teams-content{
  margin-left: 130px;
}
.feature-title{
  font-size: 2.8rem;
  font-weight: 700;
}
#quick-list{
  font-weight: 500;
  color: #424242;
}
#of-our{
  font-weight: 700;
  
}
#features{
  color: #FF900E;
  font-weight: 700;
}
.btn-primary{
  margin-top: 50px;
}
#features-section{
  border-left: 5px solid #FF900E;
}
.features{
  max-width: 1480px;
  margin: 0 auto;
}
.features-cards-title{
  font-size: 2.8rem;
  font-weight: 700;
  padding-left: 20px;
  margin-bottom: 24px;
  margin-top: 169px;
}
.features-script{
  margin-bottom: 30px;
}
.features-card{
  box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
  padding: 30px;
  margin-bottom: 20px;
  border-radius: 8px;
}
.featured-architect{
  margin-left: 130px;
  margin-top: 130px;
}

#experience-badge{
  padding: 45px 42px;
  font-size: 1.5rem;
  font-weight: 500;
  margin-top: -120px;
  margin-left: -100px;
}
#experience-year{
  font-size: 4rem;
  font-weight: 700;
}
.featured-architect img{
  width: 150%;
}



.facts{
  align-items: center;
}
.facts-content{
  text-align: center;
  margin: 0 auto;
}
.facts-title{
  font-size: 2.8rem;
  font-weight: 700;
}
.facts-cards-container{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 124px;
}
.facts-card{
  border: 1px solid #FF900E;
  border-radius: 5px;
  height: 241px;
  width: 241px;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}
.sponsors-info{
  text-align: center;
}
.sponsors-list{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 155px;
}
.sponsors-info h3{
  font-size: 2.8rem;
  font-weight: 700;
  margin-bottom: 24px;
}
.sponsors-info p{
  font-size: 1rem;
  font-weight: 400;
  color: #727272;
  margin-bottom: 50px;
}
.sponsors-list img{
  width: 165;
  height: 50;
  filter: grayscale(100%);
}
.footer{
  background-color: #FFF4E7;
  
  text-align: center;
  padding-top: 39px;
  padding-bottom: 39px;
  margin-top: 100px;

}
