*{
  font-family:"Work Sans", sans-serif;
}
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;

}
.navbar{
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #FFF4E7;
  
}
.text-gray{
  color: #424242;
}
.text-light-gray{
  color: #727272;
}
#logo{
  
  color: #131313;
  font-size: 3rem;
  font-weight: 700px;

}
.menu{
display: flex;
  list-style: none;
  gap: 20px;
  
}
.menu-link{
  text-decoration: none;
  color: #424242;
  font-size: 1rem;
  font-weight: 500;


}
.banner{
  background-color: #FFF4E7;
  
}
.banner-content{
  max-width: 862px;
  margin: 0 auto;
  text-align: center;
  padding-top: 20px;
  
  
  
}
.banner-title{
  color: #131313;
  font-size: 4rem;
  font-weight: 700;
  
}
.banner-script{
  color: #727272;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
  padding-bottom: 32px;
}
.btn-primary{
  background-color: #FF900E;
  padding: 20px 25px;
  font-size: 1.25rem;
  font-weight: 600;
  border: none;
  border-radius: 8px;
  color: #FFFFFF;
  letter-spacing: 1px;
  
}
.banner-img{
  width: 90%;
  max-width: 1440px;
  margin: 0 auto;
  display: block;
  padding-top: 50px;
  
}